@import "./../../base";
@import "./../../reset";

.feature {
  background-color: #7d8798;
  border-radius: .25rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
  text-align: center;
  &__image {
    max-width: 50%;
    padding-top: 1rem;
  }

  &__description {
    color: white;
    padding: 1rem;
  }

}

