
.accordion__item {
  &-button {
    display: flex;
    background-color: grey;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    border: none;
    &:hover, &--active {
      background-color: red;
    }
  }

  &-panel {
    background-color: white;
    overflow: hidden;
    height: 0;
    transition: all .3s linear;

    &--show {
    }
  }
}

@keyframes openPanel {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

